body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-header,
.app-main,
.app-service,
.app-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-main {
  text-align: left;
}

.app-header {
  min-height: 100vh;
  background-color: #afcff7;
  color: #fff;
  position: relative;
  z-index: 1;
}

.app-main {
  min-height: 50vh;
  background-color: #ffe7fe;
  color: #403A3F;
  padding: 1em;
}

.app-service {
  min-height: 50vh;
  background-color: #FFFDE3;
  color: #403F39;
  padding: 2vh 0 0 0;
}

.app-second {
  min-height: 50vh;
  background-color: #ffe7fe;
  color: #403A3F;
}

.app-third,
.app-third-ex {
  margin-top: -20px;
  padding: 3em;
  min-height: auto;
  background-color: #FFFDE3;
  color: #403F39;
  text-align: left;
  font-size: 1.5em;
}

.app-third-ex {
  margin-top: 0px;
}

.app-fifth {
  background-color: #ffe7fe;
  min-height: auto;
  padding: 4em;
  color: #6886AB;
  text-align: left;
}

.app-footer {
  background-color: #ffe7fe;
  color: #6886ab;
  min-height: auto;
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title {
  margin: 40px 40px 0px 40px;
  display: inline-flex;
}

#scroll-div {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
}

#scroll-div img {
  width: 12pt;
}

#service-main {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#service-intro {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 2vh 4vw;
  min-height: 40vh;
}

#service-intro h2 {
  margin-right: 2em;
}

.service-secondary {
  width: 100%;
  background-color: #FFFFFC;
  overflow: hidden;
  border: 1px solid #CCC9B6;
}

.svgContainer {
  display: flex;
  position: relative;
  width: 90vw;
  margin: 4vw;
  justify-content: space-between;
}

.svgContainer img {
  width: 20%;
  height: auto;
  margin: 10px;
  transition: all 1s ease-out;
}

.svg-description-container {
  text-align: left;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
}

.svg-title, .svg-description {
  margin: 1em 2em 1em 0;
}

#second-intro {
  margin-top: 3vh;
  padding: 0 2em;
  text-align: start;
}

#second-main {
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.project-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.project-thumb-container {
  display: block;
  position: relative;
  /* Issue with Supreme img container width
  width: 30vw;
  */
  margin: 4vw;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFCD9;
  border-radius: 5px;
}

.project-thumb-container:hover .overlay {
  opacity: .8;
}

.project-thumb-img {
  max-width: 336px;
  width: 30vw;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  transition: all .5s ease
}

.project-thumb-img-hover {
  max-width: 336px;
  width: 30vw;
  border-radius: 5px;
  transition: all .5s ease;
  z-index: 1;
}

.project-thumb-img:hover {
  opacity: 0;
}

.project-caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2em;
}

.project-title, .project-type a {
  color: #403939;
  text-decoration: underline;
  transition: all .1s ease;
}

.project-title:hover, .project-type a:hover {
  color: #804B4B;
}

.text,
.svg-description {
  color: #333;
}

.text {
  text-align: center;
}

.break {
  height: 1px;
  background-color: #403F39;
}

.link {
  color: #324052;
  transition: .4s ease;
}

.link:hover {
  color: #87AEDE;
}

.footer-links {
  display: flex;
}

.email-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  transition: .4s ease;
}

.email-input,
.message-input,
.submit-button {
  font-size: calc(5px + 2vmin);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.submit-button {
  margin-bottom: 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  background-color: #6886AB;
  color: #fff;
  transition: .4s ease;
}

.submit-button:hover {
  background-color: #97C2F7;
}

.email-success {
  font-size: calc(5px + 2vmin);
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 800px) {
  #service-intro {
    flex-flow: column;
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 700px) {
  .email-form {
    width: 90%;
  }

  .text,
  .svg-description {
    font-size: calc(10px + 2vmin);
  }

  .svgContainer {
    flex-direction: column-reverse;
  }

  .svgContainer img {
    align-self: center;
  }

  .project-container {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .project-thumb-container {
    width: 60vw;
  }

  .app-third,
  .app-third-ex,
  .app-fifth {
    padding: 2em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}